[Desktop Entry]
Categories=GNOME;GTK;System;Garuda-Setup;
Comment=Feature-rich system assistant
Encoding=UTF-8
Exec=garuda-rani
Icon=garuda-rani
Keywords=update;package;performance;powersave;systemd;services;configuration
Name=Garuda Rani
NoDisplay=false
Terminal=false
Type=Application
